# Amazon Sales Analysis

Data source: **[Amazon Sale Report](https://data.world/anilsharma87)**

In this Jupiter Notebook environment, I will perform some **Data Cleaning** before importing the cleaned dataset to **Microsoft PowerBI** to visualize the data

## Importing libraries

In [39]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [40]:
sale_rp = pd.read_csv('AmazonSaleReport.csv')

C:\Users\PC\AppData\Local\Temp\ipykernel_31076\2335505116.py:1: DtypeWarning: Columns (23) have mixed types. Specify dtype option on import or set low_memory=False.
  sale_rp = pd.read_csv('AmazonSaleReport.csv')

## Data cleaning

In [42]:
df = pd.DataFrame(sale_rp)

In [43]:
df.head()

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by,Unnamed: 22
0,0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,...,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,NaN,False,Easy Ship,NaN
1,1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,...,INR,406.00,BENGALURU,KARNATAKA,560085.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,NaN
2,2,404-0687676-7273146,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,...,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,True,NaN,NaN
3,3,403-9615377-8133951,04-30-22,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,...,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,IN,NaN,False,Easy Ship,NaN
4,4,407-1069790-7240320,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,...,INR,574.00,CHENNAI,TAMIL NADU,600073.0,IN,NaN,False,NaN,NaN

In [44]:
df['Fulfilment'].unique()

array(['Merchant', 'Amazon'], dtype=object)

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128975 entries, 0 to 128974
Data columns (total 24 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   index               128975 non-null  int64
 1   Order ID            128975 non-null  object
 2   Date                128975 non-null  object
 3   Status              128975 non-null  object
 4   Fulfilment          128975 non-null  object
 5   Sales Channel       128975 non-null  object
 6   ship-service-level  128975 non-null  object
 7   Style               128975 non-null  object
 8   SKU                 128975 non-null  object
 9   Category            128975 non-null  object
 10  Size                128975 non-null  object
 11  ASIN                128975 non-null  object
 12  Courier Status      122103 non-null  object
 13  Qty                 128975 non-null  int64
 14  currency            121180 non-null  object
 15  Amount              121180 non-null  float64
 16  ship-city           128942 non-null  object
 17  ship-state          128942 non-null  object
 18  ship-postal-code    128942 non-null  float64
 19  ship-country        128942 non-null  object
 20  promotion-ids       79822 non-null   object
 21  B2B                 128975 non-null  bool
 22  fulfilled-by        39277 non-null   object
 23  Unnamed: 22         79925 non-null   object
dtypes: bool(1), float64(2), int64(2), object(19)
memory usage: 22.8+ MB

**Drop some unnecessary columns**

In [47]:
columns_to_drop = ['index', 'ship-postal-code', 'Unnamed', 'fulfilled-by']
df = df.drop(columns=columns_to_drop, errors='ignore')

df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('-', '_')

df.drop(columns=['unnamed:_22', 'ship_country', 'currency', 'promotion_ids',  'ship_state',  
    'ship_city',  'courier_status'  
], inplace=True)

In [48]:
df.head()

,order_id,date,status,fulfilment,sales_channel,ship_service_level,style,sku,category,size,asin,qty,amount,b2b
0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,S,B09KXVBD7Z,0,647.62,False
1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,3XL,B09K3WFS32,1,406.00,False
2,404-0687676-7273146,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,XL,B07WV4JV4D,1,329.00,True
3,403-9615377-8133951,04-30-22,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,L,B099NRCT7B,0,753.33,False
4,407-1069790-7240320,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,3XL,B098714BZP,1,574.00,False

**Fix some columns**

In [50]:
df['sales_channel'].unique()

array(['Amazon.in', 'Non-Amazon'], dtype=object)

In [51]:
df['sales_channel'] = df['sales_channel'].replace({'Amazon.in': 'amazon', 'Non-Amazon': 'non_amazon'})

In [52]:
df['sales_channel'].unique()

array(['amazon', 'non_amazon'], dtype=object)

**Check for null and duplicates**

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128975 entries, 0 to 128974
Data columns (total 14 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   order_id            128975 non-null  object
 1   date                128975 non-null  object
 2   status              128975 non-null  object
 3   fulfilment          128975 non-null  object
 4   sales_channel       128975 non-null  object
 5   ship_service_level  128975 non-null  object
 6   style               128975 non-null  object
 7   sku                 128975 non-null  object
 8   category            128975 non-null  object
 9   size                128975 non-null  object
 10  asin                128975 non-null  object
 11  qty                 128975 non-null  int64
 12  amount              121180 non-null  float64
 13  b2b                 128975 non-null  bool
dtypes: bool(1), float64(1), int64(1), object(11)
memory usage: 12.9+ MB

In [55]:
df.isnull().sum()

order_id                 0
date                     0
status                   0
fulfilment               0
sales_channel            0
ship_service_level       0
style                    0
sku                      0
category                 0
size                     0
asin                     0
qty                      0
amount                7795
b2b                      0
dtype: int64

In [56]:
df['amount'].fillna(0, inplace = True)

C:\Users\PC\AppData\Local\Temp\ipykernel_31076\939751428.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['amount'].fillna(0, inplace = True)

In [57]:
df.isnull().sum()

order_id              0
date                  0
status                0
fulfilment            0
sales_channel         0
ship_service_level    0
style                 0
sku                   0
category              0
size                  0
asin                  0
qty                   0
amount                0
b2b                   0
dtype: int64

In [58]:
df.duplicated().sum()

6

In [59]:
df.drop_duplicates(inplace = True)

In [60]:
df.duplicated().sum()

0

In [61]:
df.head()

,order_id,date,status,fulfilment,sales_channel,ship_service_level,style,sku,category,size,asin,qty,amount,b2b
0,405-8078784-5731545,04-30-22,Cancelled,Merchant,amazon,Standard,SET389,SET389-KR-NP-S,Set,S,B09KXVBD7Z,0,647.62,False
1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,amazon,Standard,JNE3781,JNE3781-KR-XXXL,kurta,3XL,B09K3WFS32,1,406.00,False
2,404-0687676-7273146,04-30-22,Shipped,Amazon,amazon,Expedited,JNE3371,JNE3371-KR-XL,kurta,XL,B07WV4JV4D,1,329.00,True
3,403-9615377-8133951,04-30-22,Cancelled,Merchant,amazon,Standard,J0341,J0341-DR-L,Western Dress,L,B099NRCT7B,0,753.33,False
4,407-1069790-7240320,04-30-22,Shipped,Amazon,amazon,Expedited,JNE3671,JNE3671-TU-XXXL,Top,3XL,B098714BZP,1,574.00,False

In [62]:
# Convert from INR TO USD
exchange_rate = 0.0120988
df['amount'] = df['amount'].apply(lambda x: x * exchange_rate)

df['b2b'].replace(to_replace=[True,False],value=['business','customer'], inplace=True)

C:\Users\PC\AppData\Local\Temp\ipykernel_31076\836898121.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['b2b'].replace(to_replace=[True,False],value=['business','customer'], inplace=True)

In [63]:
df.head()

,order_id,date,status,fulfilment,sales_channel,ship_service_level,style,sku,category,size,asin,qty,amount,b2b
0,405-8078784-5731545,04-30-22,Cancelled,Merchant,amazon,Standard,SET389,SET389-KR-NP-S,Set,S,B09KXVBD7Z,0,7.835425,customer
1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,amazon,Standard,JNE3781,JNE3781-KR-XXXL,kurta,3XL,B09K3WFS32,1,4.912113,customer
2,404-0687676-7273146,04-30-22,Shipped,Amazon,amazon,Expedited,JNE3371,JNE3371-KR-XL,kurta,XL,B07WV4JV4D,1,3.980505,business
3,403-9615377-8133951,04-30-22,Cancelled,Merchant,amazon,Standard,J0341,J0341-DR-L,Western Dress,L,B099NRCT7B,0,9.114389,customer
4,407-1069790-7240320,04-30-22,Shipped,Amazon,amazon,Expedited,JNE3671,JNE3671-TU-XXXL,Top,3XL,B098714BZP,1,6.944711,customer

In [64]:
df['date'] = pd.to_datetime(df['date'])
df['month'] = df['date'].dt.month
df['month'].unique()

C:\Users\PC\AppData\Local\Temp\ipykernel_31076\7701232.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['date'] = pd.to_datetime(df['date'])

array([4, 3, 5, 6])

In [65]:
months = ['March','April', 'May', 'June']
df['month'].replace([3,4,5,6],months, inplace = True)

C:\Users\PC\AppData\Local\Temp\ipykernel_31076\1008247804.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['month'].replace([3,4,5,6],months, inplace = True)

In [66]:
df.head()

,order_id,date,status,fulfilment,sales_channel,ship_service_level,style,sku,category,size,asin,qty,amount,b2b,month
0,405-8078784-5731545,2022-04-30,Cancelled,Merchant,amazon,Standard,SET389,SET389-KR-NP-S,Set,S,B09KXVBD7Z,0,7.835425,customer,April
1,171-9198151-1101146,2022-04-30,Shipped - Delivered to Buyer,Merchant,amazon,Standard,JNE3781,JNE3781-KR-XXXL,kurta,3XL,B09K3WFS32,1,4.912113,customer,April
2,404-0687676-7273146,2022-04-30,Shipped,Amazon,amazon,Expedited,JNE3371,JNE3371-KR-XL,kurta,XL,B07WV4JV4D,1,3.980505,business,April
3,403-9615377-8133951,2022-04-30,Cancelled,Merchant,amazon,Standard,J0341,J0341-DR-L,Western Dress,L,B099NRCT7B,0,9.114389,customer,April
4,407-1069790-7240320,2022-04-30,Shipped,Amazon,amazon,Expedited,JNE3671,JNE3671-TU-XXXL,Top,3XL,B098714BZP,1,6.944711,customer,April

In [67]:
df['status'].unique()

array(['Cancelled', 'Shipped - Delivered to Buyer', 'Shipped',
       'Shipped - Returned to Seller', 'Shipped - Rejected by Buyer',
       'Shipped - Lost in Transit', 'Shipped - Out for Delivery',
       'Shipped - Returning to Seller', 'Shipped - Picked Up', 'Pending',
       'Pending - Waiting for Pick Up', 'Shipped - Damaged', 'Shipping'],
      dtype=object)

In [68]:
df.apply(pd.unique).to_frame(name='Unique Values')

                                                        Unique Values
order_id            [405-8078784-5731545, 171-9198151-1101146, 404...
date                [2022-04-30T00:00:00.000000000, 2022-04-29T00:...
status              [Cancelled, Shipped - Delivered to Buyer, Ship...
fulfilment                                         [Merchant, Amazon]
sales_channel                                    [amazon, non_amazon]
ship_service_level                              [Standard, Expedited]
style               [SET389, JNE3781, JNE3371, J0341, JNE3671, SET...
sku                 [SET389-KR-NP-S, JNE3781-KR-XXXL, JNE3371-KR-X...
category            [Set, kurta, Western Dress, Top, Ethnic Dress,...
size                 [S, 3XL, XL, L, XXL, XS, 6XL, M, 4XL, 5XL, Free]
asin                [B09KXVBD7Z, B09K3WFS32, B07WV4JV4D, B099NRCT7...
qty                                  [0, 1, 2, 15, 3, 9, 13, 5, 4, 8]
amount              [7.835424856, 4.9121128, 3.9805052, 9.11438900...
b2b                                              [customer, business]
month                                       [April, March, May, June]

In [69]:
df['date'].min()

Timestamp('2022-03-31 00:00:00')

In [99]:
df['date'].max()

Timestamp('2022-06-29 00:00:00')

In [101]:
df.head()

,order_id,date,status,fulfilment,sales_channel,ship_service_level,style,sku,category,size,asin,qty,amount,b2b,month
0,405-8078784-5731545,2022-04-30,Cancelled,Merchant,amazon,Standard,SET389,SET389-KR-NP-S,Set,S,B09KXVBD7Z,0,7.835425,customer,April
1,171-9198151-1101146,2022-04-30,Shipped - Delivered to Buyer,Merchant,amazon,Standard,JNE3781,JNE3781-KR-XXXL,kurta,3XL,B09K3WFS32,1,4.912113,customer,April
2,404-0687676-7273146,2022-04-30,Shipped,Amazon,amazon,Expedited,JNE3371,JNE3371-KR-XL,kurta,XL,B07WV4JV4D,1,3.980505,business,April
3,403-9615377-8133951,2022-04-30,Cancelled,Merchant,amazon,Standard,J0341,J0341-DR-L,Western Dress,L,B099NRCT7B,0,9.114389,customer,April
4,407-1069790-7240320,2022-04-30,Shipped,Amazon,amazon,Expedited,JNE3671,JNE3671-TU-XXXL,Top,3XL,B098714BZP,1,6.944711,customer,April

In [103]:
df = df[df['month'] != 'March']

In [105]:
df.shape

(128798, 15)

In [107]:
df['date'].min()

Timestamp('2022-04-01 00:00:00')

In [109]:
df['date'].max()

Timestamp('2022-06-29 00:00:00')

In [115]:
df.to_csv('amazon_sales_cleaned.csv')